.form{
        display: flex;
    border: 1px solid black;
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 20px;
    margin: auto;
}
.btn{
    border-radius: 10px;
    color: white;
    background-color: black;
    border: none;
    width: 50px;
    margin: auto;
}
.heading{
    display: grid;
    justify-content: center;
}
.plus{
    display: grid;
    justify-content: center;
}
body{
    display: grid;
    justify-content: center;
}