.wrapper{
    display: grid;
    border-radius: 10px;
    border: 1px solid black;
    height: 800px;
    width: 800px;
    justify-self: center;
}
.item{
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 100px;
    gap:30px
}
.heading{
    display: grid;
    font-size: 20px;
    justify-content: center;
}

button{
    width: 250px;
    height: 40px;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white ;
    cursor: pointer;
}
.item__input{
    width: 250px;
    height: 40px;
}
.plus{
    display: grid;
    justify-content: center;
    
}